<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2 mb-3" *ngFor="let country of countries">
      <div class="card">
        <img class="card-img-top" [src]="country.flag" [attr.alt]="country.name">
        <div class="card-body">
          <h5 class="card-title">
            <strong>NAME:{{country.name}}</strong>
          </h5>
            <h5 class="card-title">
                <strong>CAPITAL:{{country.capital}}</strong>
              </h5>
              
                <h5 class="card-title">
                    <strong>CURRENCIES:{{country.currencies["0"]["name"]}}</strong>
                  </h5>
                  <h5 class="card-title">
                      <strong>SUBREGIONS:{{country.subregion}}</strong>
                    </h5>

        </div>
      </div>
    </div>
  </div>
</div>