<div class="row"> 
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">AFRICA</div>
    <div class="card-body">
      <h5 class="card-title">AFRICAN REGION</h5>
      <p class="card-text">click here to see the different  countires that populate this region of the world.</p>
      <a [routerLink]="['africa']" class="btn btn-primary">Button</a>
    </div>
  </div>



  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">AMERICAS</div>
    <div class="card-body">
      <h5 class="card-title">AMERICAN REGION</h5>
      <p class="card-text">click here to see the different  countires that populate this region of the world.</p>
      <a [routerLink]="['americas']" class="btn btn-primary">Button</a>
    </div>
  </div>

</div>





<div class="row">
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">ASIA</div>
    <div class="card-body">
      <h5 class="card-title">ASIANN REGION</h5>
      <p class="card-text">click here to see the different  countires that populate this region of the world.</p>
      <a [routerLink]="['asia']" class="btn btn-primary">Button</a>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">EUROPE</div>
    <div class="card-body">
      <h5 class="card-title">EUROPEAN REGION</h5>
      <p class="card-text">click here to see the different  countires that populate this region of the world.</p>
      <a [routerLink]="['europe']" class="btn btn-primary">Button</a>
    </div>
  </div>
  <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">OCEANIA</div>
    <div class="card-body">
      <h5 class="card-title">OCEANIA REGION</h5>
      <p class="card-text">click here to see the different  countires that populate this region of the world.</p>
      <a [routerLink]="['oceania']" class="btn btn-primary">Button</a>
    </div>
  </div>
</div>