<!--The content below is only a placeholder and can be replaced.-->
 
<div>
        <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1">REGIONS OF THE WORLD</span>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  style="font-size:2rem;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     CLICK HERE TO SEE THE REGIONS 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/regions']">REGIONS</a>
                    </div>
                    </li>
              </nav>
</div>
<router-outlet></router-outlet>